body{
    background-color: #000;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 80px;
    text-decoration: underline;
}

p, input{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

input{
    border-radius: 10px;
    background-color: #000;
    border-color: #fff;
    color: #fff;
    transition: 1s;
}

input:hover{
    background-color: #111;
}

a{
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    padding: 30px 45px;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    box-shadow: 0 20px 50px rgba(0,0,0, .5);
    overflow: hidden;
}
a:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    width: 50%;
    background-color: rgba(255, 255, 255,0.05);
}

a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #000, #fff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #000, #fff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

a span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #000, #fff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #000, #fff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}